TestGetRotate/Library/webgl_cache/linkresult_wasm_744C3F95ACF06F948113930F586543D7/build.wasm
TestGetRotate/Library/il2cpp_cache/linkresult_153390AFAF1961B5F879EC474043FD4D/build.bc
TestGetRotate/Library/*
TestGetRotate/Temp/
